
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr{
    cursor: pointer;
}

tr:hover{
    background-color: #e2e2e29e;
}

.user_img{
    width: 40px;
    border-radius: 50%;
}
