
:root {
    --black: #151A1A;
    --dark-blue: #080819;
    --pink: #B2314C;
    --gold: #D59F54;
    --green: #2edd6b;
    --gray: #1e1f21;
    --gray2: #343434;
    --gray3: #969390;
    --gray4: #8F8C8A;
    --gray5: #303135;
    --gray-light: #333333;
    --dark-gold: #815526;
    --dark-gray: #2e2e2e;
}
@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 100;
    src: url(fonts/LoewLight.ttf)
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 200;
    src: url(fonts/LoewLight.ttf)
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/LoewLight.ttf)
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/LoewLight.ttf);
    font-display: swap;
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 500;
    src: url(fonts/LoewMedium.ttf)
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 600;
    src: url(fonts/LoewMedium.ttf)
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/LoewMedium.ttf);
    font-display: swap
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 800;
    src: url(fonts/LoewBold.ttf)
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 900;
    src: url(fonts/LoewBold.ttf)
}
body{
    font-family: Loew;
}
/*scroll*/
::-webkit-scrollbar {
    width: 4px;

}

/* Track */
::-webkit-scrollbar-track {
    background: var(--dark-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--black);
    /*border-radius: 3px;*/
}

body {
    background-color: var(--dark-blue);

}

a:hover, a:active {
    text-decoration: unset;
}

.w-24 {
    width: 24px;
}

.w-22 {
    width: 22px;
}
.w-40 {
    width: 60px;
}

.w-110 {
    width: 110%;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}
.fs-30 {
    font-size: 30px;
}
.lh-26{
    line-height: 26px;
}
.lh-20{
    line-height: 20px;
}
.gold {
    color: var(--gold)!important;
}
.gray3{
    color: var(--gray3);
}
.gray4{
    color: var(--gray4);
}
.gray5{
    color: var(--gray5);
}
.bg-gray2{
    background-color: var(--gray2);
}
.bgr-1 {
    border-right: 1px solid var(--gold);
}
.br-20{
    border-radius: 20px;
}


.neon {
    position: relative;
    display: inline-block;
    padding: 0.5em 2em;
    cursor: pointer;
    overflow: hidden;
}
.neon:before, .neon:after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: unset;
}
.neon:before {
    top: 0;
}
.neon:after {
    bottom: 0;
}
.neon:hover > * > *:before, .neon:hover > * > *:after {
    transform: translate3d(0, 0, 0);
}
.neon:hover > * > * > *:before, .neon:hover > * > * > *:after {
    transform: translate3d(0, 0, 0);
}
.neon > *:before, .neon > *:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: unset;
}
.neon > *:before {
    left: 0;
}
.neon > *:after {
    right: 0;
}
.neon > * > *:before, .neon > * > *:after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 9;
    height: 2px;
    width: 100%;
    background-color: var(--pink);
}
.neon > * > *:before {
    top: 0;
    transform: translate3d(-105%, 0, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.neon > * > *:after {
    bottom: 0;
    transform: translate3d(105%, 0, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.neon > * > * > *:before, .neon > * > * > *:after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 9;
    height: 100%;
    width: 2px;
    background-color: var(--pink);
}
.neon > * > * > *:before {
    left: 0;
    transform: translate3d(0, 105%, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.neon > * > * > *:after {
    right: 0;
    transform: translate3d(0, -105%, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
/*nav*/
.dark-nav{
    background-color: #080819!important;
}

.nav-link {
    font-size: 14px;
    font-weight: bold;
    color: white !important;
    padding: 0;
}
.nav-links div a {
    color: white;
}

.active-nav {
    background-color: #7a7a7a61 !important;
}

.active-nav a {
    color: var(--gold) !important;
}
.navbar-nav .active{
    border: 1px solid var(--pink);
}

.navbar-brand img{
    max-width: 200px;
}


.neon-text {
    line-height: 1;
    color: #c6e2ff;
    -webkit-animation: neon 0.08s ease-in-out infinite alternate;
    animation: neon 0.08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/
@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
    }
}

/*home*/
.hidden{
    display: none;
}


/*footer*/
.footer-text-section{
    background-image: url("../img/footer-text-bg.webp");
    background-size: cover;
    background-position: center;
}
.footer{
    background-image: url("../img/footer.webp");
    background-size: cover;
    background-position: center;
}
.brg-2{
    border-right: 2px solid var(--gray);
}
